<div class="p-5 font-bold dark:bg-slate-900 dark:text-stone-50">
  <h4 class="pb-5 text-center text-2xl">Other Skills</h4>
  <p class="flex flex-row justify-between gap-3 dark:text-stone-100">
    <span class="flex flex-col items-center">
      <fa-icon class="text-3xl text-orange-600" [icon]="faHtml"></fa-icon>
      <span class="text-xs 2xl:text-base">HTML</span>
    </span>
    <span class="flex flex-col items-center">
      <fa-icon class="text-3xl text-sky-500" [icon]="faCss"></fa-icon>
      <span class="text-xs 2xl:text-base">CSS</span>
    </span>
    <span class="flex flex-col items-center">
      <fa-icon class="text-3xl text-yellow-500" [icon]="faJs"></fa-icon>
      <span class="text-xs 2xl:text-base">JavaScript</span>
    </span>
    <span class="flex flex-col items-center">
      <fa-icon class="text-3xl text-sky-700" [icon]="faTs"></fa-icon>
      <span class="text-xs 2xl:text-base">TypeScript</span>
    </span>
    <span class="flex flex-col items-center">
      <fa-icon class="text-3xl text-green-600" [icon]="faNode"></fa-icon>
      <span class="text-xs 2xl:text-base">Node.Js</span>
    </span>
    <span class="flex flex-col items-center">
      <fa-icon class="text-3xl text-purple-600" [icon]="faCS"></fa-icon>
      <span class="text-xs 2xl:text-base">CSharp</span>
    </span>
    <span class="flex flex-col items-center">
      <fa-icon class="text-3xl text-purple-600" [icon]="faBlazor"></fa-icon>
      <span class="text-xs 2xl:text-base">Blazor</span>
    </span>
    <span class="flex flex-col items-center">
      <fa-icon class="text-3xl text-purple-700" [icon]="faRedux"></fa-icon>
      <span class="text-xs 2xl:text-base">Redux</span>
    </span>
  </p>
</div>
