<div
  class="mb-5 flex h-44 flex-col overflow-clip rounded-lg ring-2 ring-stone-950 dark:bg-stone-200 dark:text-stone-900"
>
  <h4 class="p-2 text-xl font-bold dark:bg-stone-800 dark:text-stone-200">
    <span class="dark:hover:text-sky-600">
      <fa-icon [icon]="faGithub"></fa-icon>
      <a [href]="repo.html_url" target="_blank" class="max-w-min">
        {{ repo.name }}</a
      ></span
    >
  </h4>
  <div class="flex grow flex-col justify-between">
    <div class="flex flex-col p-3">
      <p class="font-sans font-semibold">{{ repo.description }}</p>
    </div>
    <div
      class="flex flex-row items-center gap-5 px-5 py-2 text-sm font-semibold"
    >
      <div>
        <span class="text-lg">
          @if (repo.language === 'Java') {
            <fa-icon [icon]="faJava" class="text-red-600"></fa-icon>
          } @else if (repo.language === 'JavaScript') {
            <fa-icon [icon]="faJs" class="text-yellow-500"></fa-icon>
          } @else {
            <fa-icon [icon]="faTs" class="text-sky-700"></fa-icon>
          }
        </span>
        <span> {{ repo.language }}</span>
      </div>
      <div>
        <fa-icon [icon]="faStar"></fa-icon
        ><span class="p-3">{{ repo.stargazers_count }}</span>
      </div>
      <div>
        <fa-icon [icon]="faFork"></fa-icon
        ><span class="p-3">{{ repo.forks_count }}</span>
      </div>
    </div>
  </div>
</div>
