.stripes {
  background: repeating-linear-gradient(
    -36deg,
    #6088bc,
    #6088bc 8px,
    #465c98 8px,
    #465c98 16px
  );
  animation: bg-shift 10s linear infinite;
}

@keyframes bg-shift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100px;
  }
}
